
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  border-radius: 45%;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: -1.5rem;
  position: absolute;
  background: #ECF2FF;
  border: transparent;
}

.button:hover {background-color: lightgray; border-radius: 1000px;}

.button:active {
  background-color: #ECF2FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 1000px;

}

.backBtn {
  display: flex;
  align-items: center;
  border-radius: 45%;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-left: 7rem;
  margin-top: -2.8rem;
  position: absolute;
  background: #ECF2FF;
  border: transparent;
}
.logo{
  height: 540px;
  width: 1250px;
}

.backBtn:hover {background-color: lightgray; border-radius: 1000px;}

.backBtn:active {
  background-color: #ECF2FF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  border-radius: 1000px;
}
.searchBar{
  position: relative;
  padding: 2px 40px;
  background-color: #ECF2FF;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 4px;
  cursor: pointer;
  border-radius: 20px;
}

.chatBack{
  position:absolute;
}

.chatBar{
  position: relative;
  padding: 2px 4px;
  background-color: #ECF2FF;
  border: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9px;
  width: 350px;
}

.sendBtn{
  position: relative;
  background: transparent;
  border: transparent;

}
.sendBtn:hover {background-color: #BA94D1;border-radius: 9px;}

.sendBtn:active {
  background-color: #7F669D;
  transform: translateY(4px);
  border-radius: 100px;


}

.searchIcon{
  position: relative;
  z-index: 2;
  color: black;

}
.text{
  position: absolute;
  width: 70rem;
  height: 20rem;
  margin-left: 5rem;
  margin-top: 2rem;
  direction: rtl;
  font-size: 16px;
  font-weight: normal;
  font-family: caption, system-ui;
  line-break: auto;
}

.header{
  position: absolute;
  right: 45vw;
  text-align: center;
  top: 1vh;
  font-family:caption, system-ui;
  color: #5C5C5C;

}

.data{
  position: absolute;
  right: 1vw;
  text-align: center;
  top: 1vh;
  font-family:caption, system-ui;
  color: #5C5C5C;
  font-size: 12px;
}

.mediaPlayer{
  position: absolute;
  width: 100vw;
  top: 85vh;
  background: linear-gradient(90.07deg, #7F669D 0%, #BA94D1 49.48%, #8FADED 100%);
}